body{
    background-color: darkslategray;
    color: #fff;
    font-style:oblique;
    
}
#wrapper{
    width: 350px;
    height: fit-content;
    background-color: rgb(70, 69, 69);
    display: flex;
    flex-direction: column;
    position: absolute;    
    top: 10%;
    left: 35%;
    text-align: center;
    border-radius:20px
}
#guess{
    display: block; /* Ensure label takes full width */
    margin-bottom: 8px; /* Spacing between label and input field */
    color: #969191;
    font-size:xx-large;
}
#guessfeild {
    background-color: #f2f2f2; /* Light gray background */
    border: 1px solid #ccc; /* Medium gray border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px 12px; /* Padding */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    width: 200px; /* Width */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}
#guessfeild:focus {
    outline: none; /* Remove default focus outline */
    border-color: #666; /* Darker gray border on focus */
}
#subt {
    background-color: #504e4e; /* Gray background */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    color: #fff; /* Text color */
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Button Hover */
#subt:hover {
    background-color: #999; /* Darker gray background on hover */
}
.guesses{
    background-color: #868686;
    border-radius: 5px;
    padding: 5px;
}